<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetItemServlet</servlet-name>
        <servlet-class>controller.GetItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>view.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItemServlet_M</servlet-name>
        <servlet-class>controller.GetItemServlet_M</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItempageServlet_M</servlet-name>
        <servlet-class>view.ItempageServlet_M</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertItemServlet_M</servlet-name>
        <servlet-class>controller.InsertItemServlet_M</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartServlet</servlet-name>
        <servlet-class>controller.EditCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartServlet</servlet-name>
        <servlet-class>controller.SaveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addItemToWishList</servlet-name>
        <servlet-class>controller.addItemToWishList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWishListServlet</servlet-name>
        <servlet-class>controller.ViewWishListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetItemServlet</servlet-name>
        <url-pattern>/GetItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/HomepageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemServlet_M</servlet-name>
        <url-pattern>/GetItemServlet_M</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItempageServlet_M</servlet-name>
        <url-pattern>/ItempageServlet_M</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertItemServlet_M</servlet-name>
        <url-pattern>/InsertItemServlet_M</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartServlet</servlet-name>
        <url-pattern>/EditCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartServlet</servlet-name>
        <url-pattern>/SaveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addItemToWishList</servlet-name>
        <url-pattern>/addItemToWishList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWishListServlet</servlet-name>
        <url-pattern>/ViewWishListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>GetItemServlet</welcome-file>
    </welcome-file-list>
</web-app>
